.check {
    display: flex;
    flex-flow: column;
    align-items: center;

    height: 120vh;
    width: 70vw;
    border: 1px solid black;
    margin: 10px 0px;
    padding: 20px;
}
.check .letter{
    flex-grow: 1;
    width: 100%;
    margin-bottom: 10px;
    overflow-y: scroll;
    border: 1px solid black;
}

.check .templates > *{
    height: 100%;
    border: 1px solid black;
}

